@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body{
  overflow-x: hidden;
  font-family: 'Lato' , sans-serif;
  color: #505962;
  box-sizing: border-box;
}

.offset:before{
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/* Navigatoin */
.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-nav li{
  padding-right: 1.2rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: rgba(244,102,6,1);
  transform: translate(0.2rem, 0 );
  border-bottom:solid;
  padding-bottom: 0;
}



<style type="text/css">
/* --- 全体のBOX定義 ---------------------------------------- */
.box {
  position   : relative;
  max-width  : 100vh;
  height     : 100vh;
  margin     : auto;
  overflow   : hidden;
}

/* --- 背景の指定 ------------------------------------------- */
.box .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 28s infinite;   /* 4画像 × 各7s = 28s */
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.box .src1 {
  background-image : url(img/cafe.jpg);   /* 背景の画像を指定 */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.box .src2 {
  background-image : url(img/terrace.jpg);   /* 背景の画像を指定 */
  animation-delay  : 7s;
}
.box .src3 {
  background-image : url(./autumn.jpg);   /* 背景の画像を指定 */
  animation-delay  : 14s;
}
.box .src4 {
  background-image : url(./winter.jpg);   /* 背景の画像を指定 */
  animation-delay  : 21s;
}

@keyframes bgAnime {
   0% { opacity: 0; }
   10% { opacity: 1; }
  25% { opacity: 1; }
  35% { opacity: 0; }
 100% { opacity: 0; }
}

/* --- 前面の文字定義（サンプルのため変更してください） ----- */
.box .boxString{
  position   : absolute;
  display    : inline-block;
  padding    : 20px;
  background : rgba(0, 127, 255, 0.7);          /* 半透明の青 */
  color      : #fff;
  top        : 50%;                               /* 中央寄せ */
  left       : 50%;
  transform  : translate(-50%,-50%);
  z-index    : 11;
}
</style>











/* Landing page */

.home-inner{
  background-image: url(img/cafe.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
}

.caption h1{
  font-size: 7.0rem;
  font-weight: 700;
  font-family: 'Caveat', cursive;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem 1.0rem black;
  padding-bottom: 3.0rem;
}

.caption h3 span{
  font-size: 2.3rem;
  text-shadow: .1rem .1rem.8rem black;
  background-color: rgba(23, 26, 28, 0.6);
  padding: 0.5rem;
}
