@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body{
  overflow-x: hidden;
  font-family: 'Lato' , sans-serif;
  color: #505962;
  box-sizing: border-box;
}

.offset:before{
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/* Navigatoin */
.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-nav li{
  padding-right: 1.2rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: rgba(244,102,6,1);
  transform: translate(0.2rem, 0 );
  border-bottom:solid;
  padding-bottom: 0;
}


/* .carousel-inner img{
  height: 100vh;
  width: 100%;
  max-width: 100%;
} */

/* .carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15\px #000;
}

.carousel-caption h3{
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.btn-primary{
  background-color: #6648b1;
  border:1px solid #6648b1;
}

.btn-primary:hover{
  background-color: #563d7c;
  border:1px solid  #563d7c;
} */

.terrace{
  background-image: url(img/terrace.jpg);
}

.inside{
  background-image: url(img/inside.jpg);
}

.kitchin{
  background-image: url(img/kitchin.jpg);
}

.terrace, .inside, .kitchin{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}





/* .carousel-item{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
} */

/* Landing page */

/* .home-inner{
  background-image: url(img/cafe.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
} */

.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
}

.caption h1{
  font-size: 7.0rem;
  font-weight: 700;
  font-family: 'Caveat', cursive;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem 1.0rem black;
  padding-bottom: 3.0rem;
}

.caption h3 span{
  font-size: 2.3rem;
  text-shadow: .1rem .1rem.8rem black;
  background-color: rgba(23, 26, 28, 0.6);
  padding: 0.5rem;
}
